.container {
    max-width: 300px;
    margin: 10px auto;
    padding: 20px;
    background-color:aliceblue;
    border-radius: 5px;
  }
  
  .title {
    margin-top: 0;
    text-align: center;
  }
  
  .form {
    margin-top: 20px;
  }
  
  .input {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
  }
  
  .btn { 
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 5px auto;
  }